border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

html 
	height 100%
body
	margin-top 30px
	background-color black
	background-size cover
	background-repeat no-repeat
	height 100%
	overflow hidden

.game-layer
	padding-top 30%
.white-wrap
	background-color rgba(255,255,255,0.9)
.splash-button
	width 200px
	height 75px
	opacity 0.7
	font-size 25px
	border-radius(12px)

#game-canvas
	position absolute
	left 0
	top 0